<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Create project</title>
</head>
<form>
<style>
  body { background: url(https://hdwallsource.com/img/2015/3/solid-grey-wallpaper-47193-48710-hd-wallpapers.jpg); }
</style>
<style>
</style>
<body>
    {% if user_created %}
        <div class="alert alert-success">Информация добавлена</div>
    {% elif error_message=="user_exists" %}
        <div class="alert alert-danger">Такой пользователь уже есть/div>
    {%endif%}

<div class="container">
    <h1><font size="4" color="white" face="cambria">Оставьте информацию о себе </h1><br>
            <form method = "post" action = "/add_user">
                 <div class="form-row">
                     <div class="col-10">
                         <input type="email" class="form-control"  name="email" placeholder="Ваша почта" ><br>
                     </div>

                     <div class="col-10">
                         <input type="text" class="form-control" name="name" placeholder="Ваше имя" > <br>
                     </div>


                     <div> <button type="submit" class="btn btn-light" formmethod="post">Добавить</button> <br>
                     <button type="reset" class="btn btn-light">Очистить</button> </div>

                 </div>
            </form>
</div>

</body>
