<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Create project</title>
</head>
<form>
<style>
  body { background: url(https://avatanplus.com/files/resources/original/5a8f0a7d0167c161bec0f84e.jpg); }
</style>
<style>
</style>

<div class="container">
    <h1><font size="5" color="black" face="cambria">Оформите издание</h1><br>
            <form method = "post" action = "/">
                 <div class="form-row">
                     <div class="col-10">
                         <input type="text" class="form-control"  name="author_name" placeholder="Имя и фамилия автора (напр. А.Гайдар)" required><br>
                     </div>
                     &nbsp;
                     <div class="col-10">
                         <input type="text" class="form-control" name="title" placeholder="Название книги" required >
                     </div>
                 </div>
            </form>
   </div>

&nbsp;



<div class="container">
    <h1><font size="5" color="black" face="cambria">Оформите ваше произведение в корпусе</h1><br>
            <form method = "post" action = "/">
                <div class="form-row">
                    <div class="col-7">
                        <input class="form-control" type="text" name="booktitle" placeholder="Заглавие произведения" required><br>
                    </div>
                    &nbsp;
                    <div class="col-7">
                        <input type="text" class="form-control" name="year" placeholder="Год издания" ><br>
                    </div>
                    &nbsp;
                    <div class="col-7">
                        <input type="text" class="form-control" name="city" placeholder="Город издания" ><br>
                    </div>
                </div>


            <div>
                <font>
                    <div class="form-row">
                        <div class="col-7">
                            <input class="form-control" type="text" name="publisher" placeholder="Издательство (напр. Детская литература)" ><br>
                        </div>
                        &nbsp;
                        <div class="col-7">
                            <input class="form-control" type="text" name="publisher_unified" placeholder="Унифицированное издательство (напр. Детгиз)" ><br>
                        </div>
                        &nbsp;
                        <div class="col-7">
                            <input type="text" class="form-control" name="printrun" placeholder="Тираж" ><br>
                        </div>
                        &nbsp;
                        <div class="col-7">
                        <h1><font size="3" color="black" face="cambria">Выберите возрастную категорию книги</h1>
                        <input type="checkbox" name="kid" value="1"> Младший возраст<br>
                        <input type="checkbox" name="junior" value="1"> Средний возраст<br>
                        <input type="checkbox" name="youth" value="1" checked> Старший возраст<br></font><br>
                        </div>
                        <div class="col-7">
                            <label><font size="4" color="black" face="cambria">Возрастная категория </label>
                            <input type="text" class="form-control" name="age_category" placeholder="как указано в книге" >
                        </div>

                    <div class="form-row">

&nbsp;

<div class="container">
    <h1><font size="5" color="black" face="cambria">Добавьте автора в корпус</h1><br>
            <form method = "post" action = "/">
                <div class="form-row">
                    <div class="col-7">
                        <input class="form-control" type="text" name="last" placeholder="Фамилия" required><br>
                    </div>
                    &nbsp;
                    <div class="col-7">
                        <input type="text" class="form-control" name="first" placeholder="Имя" ><br>
                    </div>
                    &nbsp;
                    <div class="col-7">
                        <input type="text" class="form-control" name="middle" placeholder="Отчество" ><br>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-7">
                        <input class="form-control" type="text" name="birth_year" placeholder="Год рождения" ><br>
                    </div>
                    &nbsp;
                <div class="col-7">
                    <input type="text" class="form-control" name="death_year" placeholder="Год смерти" ><br>
                </div>
                    &nbsp;
                <div class="col-7">
                    <h1><font size="4" color="black" face="cambria">Выберите пол автора</h1>
                    <input type="radio" name="sex" value="М"> Мужской <br>
                    <input type="radio" name="sex" value="Ж"> Женский<br>
                    <input type="radio" name="sex" value="NA"> Неизвестно<br>
                </div>
            </div>
</div>
                        &nbsp;



<div class="container">
    <h1><font size="5" color="black" face="cambria">Добавьте информацию про псевдоним</h1>
            <form method = "post" action = "/">
                <h1><font size="3" color="grey" face="cambria">*Если фамилия - псевдоним, а имя и отчество нет, введите реальное имя/отчество и фамилию-псевдоним</h1>
                        &nbsp;
                        <div class="form-row">
                            <div class="col-7">
                                <input class="form-control" type="text" name="last_p" placeholder="Фамилия"><br>
                            </div>
                        &nbsp;
                            <div class="col-7">
                                <input type="text" class="form-control" name="first_p" placeholder="Имя" ><br>
                            </div>
                        &nbsp;
                            <div class="col-7">
                                <input type="text" class="form-control" name="middle_p" placeholder="Отчество" ><br>
                            </div>
                        </div>
            </form>
</div>


    &nbsp;

                <div> <font size="5" color="white" face="cambria" >
                    <button type="submit" class="btn btn-light" formmethod="post">Добавить</button>
                &nbsp;
                <button type="reset" class="btn btn-light">Очистить</button>
                &nbsp;
                </font>
                </div><br>

                        <br>







 </body>

</body>
</body>