<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Сборник или книга:</h1>

<p>Выберите, что вы добавляете: сборник или отдельное произведение?.</p>

<form>
  <input type="button" value="Сборник" onclick="digest">
  <input type="button" value="Книга" onclick="book">
</form>

<script>
function digest {
  <meta http-equiv="refresh" content="5;/digest">;
}
</script>

<script>
function book {
  <meta http-equiv="refresh" content="5;/book">;
}
</script>


</body>
</html>

