<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1><font size="6" color="white" face="cambria">Укажите ваши данные</h1><br>
    <form method = "post" action = "/add_book">
        <div class="form-row">
            <div class="col-7">
                <input class="form-control" type="text" name="userlast" placeholder="Ваша фамилия" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="userfirst" placeholder="Ваше имя"  ><br>
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Адрес электронной почты</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                <button type="submit" class="btn btn-primary">Готово</button>
            </div>
        </div>

</body>
</html>