<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>File uploaded</title>
</head>
<body>
<div class="alert alert-success"><font size="3" color="black" face="cambria"> Книга успешно загружена!</font></div>


<div> <font size="3" color="black" face="cambria" >
    <form method="post" action="/">
        <p align="center">
        <input type="button" class="btn btn-secondary" value="Добавить ещё книгу" onclick="history.go(-3)">
    </form></font>
</div>